.type-portfolio_item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-display-wrapper.post-type-portfolio_item .post-sector-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    max-width: 1250px;
    margin: auto;
}

.type-portfolio_item .post-thumbnail img {
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 4;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

.type-portfolio_item .post-title a {
    font-weight: 600;
    color: var(--black) !important;
    font-size: 16px;
}

.div-title {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.post-position-4 {
    margin-left: auto;
}
.post-position-4 .post-thumbnail img {
    width: 450px;
}
.post-position-1 .post-thumbnail img {
    width: 450px;
}

.post-sector.post-sector-2 {
    display: flex;
    gap: 30px;
    /* padding: 20px; */
    padding-top: 40px;
}
